<div *ngIf="rtcService.connected && !joined">
    <mat-form-field>
      <input matInput placeholder="User name" [(ngModel)]="userName">
    </mat-form-field>
    <br />
    <button mat-raised-button [disabled]="!userName || userName === ''" (click)="connect()">Connect</button>
</div>
<div *ngIf="rtcService.connected && joined">
    <button mat-raised-button (click)="disconnect()">DisConnect</button>
</div>
<app-chat-member *ngFor="let user of users;trackBy: trackByFn" [user]="user" style="margin-left: 12px"></app-chat-member>