<div mat-dialog-content class="container">
    <mat-form-field>
        <mat-label>Hi {{ user.name }}, What's in your mind?</mat-label>
        <input matInput class="feedtitle" type="text" [(ngModel)]="data.title">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-icon matPrefix>add_a_photo</mat-icon>
      <mat-label>Do you have a image link to share?</mat-label>
      <input matInput class="feedtitle" type="text" [(ngModel)]="data.imageUrl">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-icon matPrefix>ondemand_video</mat-icon>
      <mat-label>Do you want to share a video link?</mat-label>
      <input matInput class="feedtitle" type="text" [(ngModel)]="data.videoUrl">
    </mat-form-field>
</div>
<label>Content:</label>
<quill-editor [(ngModel)]="data.details"  [styles]="{height: '200px'}"></quill-editor> 

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>