.container {
    display: flex; /* or inline-flex */
    flex-direction: row;
    align-content: flex-start;
}

.board {
    display: flex; /* or inline-flex */
    flex-direction: row;
    align-content: flex-start;
}

.heading {
    margin-left: 20px;
    background-color: rgb(255, 248, 248);
}
.element-list {
    width: 220px;
    background-color: rgb(255, 248, 248);
}

.preview-list {
    margin-top:58px;
    width: 500px;
    background-color: wheat;
}