.container {
    display: flex; /* or inline-flex */
    flex-direction: row;
    align-content: flex-start;
}

.board {
    display: flex; /* or inline-flex */
    flex-direction: row;
    align-content: flex-start;
}

.heading {
    margin-left: 20px;
    background-color: rgb(255, 248, 248);
}
.element-list {
    width: 220px;
    background-color: rgb(255, 248, 248);
}

.preview-list {
    
}
.preview-panel {
    width: 500px;
    background-color: wheat;
    min-height: 600px;
}
.properties-window {
    width: 800px;
}
.properties-window > mat-card {
    width: 90%;
}
.example-full-width {
    width: 96%;
  }