<div class="container">
    <div class="board-container">
        <div class="board-title">
            <h2>Boards</h2>
        </div>
        <div class="board">
            <div class="element-list">
                <div 
                    cdkDropList 
                    #todo="cdkDropList"
                    [cdkDropListData]="toDoList"
                    (cdkDropListDropped)="drop($event)"
                    >
                    <div class="heading"><h3>HTML ITEMS</h3></div>
                    <div *ngFor="let item of toDoList" class="task" cdkDrag>
                        <button mat-button mat-raised-button color="primary" style="width: 200px;text-align:left;margin-left: 10px; margin-bottom: 5px;">
                            <mat-icon>
                                {{item.icon}}
                            </mat-icon>
                            {{item.desc}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="preview-list">
              <div cdkDropList class="example-list" (cdkDropListDropped)="dropPreview($event)">
                <div *ngFor="let item of previewList" class="task" cdkDrag>
                    <button mat-button mat-raised-button color="primary" style="width: 200px;text-align:left;margin-left: 10px; margin-bottom: 5px;">
                        <mat-icon>
                            {{item.icon}}
                        </mat-icon>
                        {{item.desc}}
                    </button>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="properties-window">
        <!-- <mat-card>
            <ul  [formGroup]="myGroup">
                <li>
                    <mat-form-field>
                        <label for="{{inflightData.name}}">Name</label>
                        <input formControlName="name" id="{{inflightData.name}}" matInput value="{{inflightData.name}}">
                      </mat-form-field>
                </li>            
                <li>
                    <mat-form-field>
                        <label for="{inflightData.type}}">Type</label>
                        <input formControlName="type" id="{{inflightData.type}}" matInput value="{{inflightData.type}}"/>
                      </mat-form-field>
                </li>            
            </ul>
        </mat-card> -->
    </div>
</div>