<mat-toolbar color="primary">
    <div fxFlex fxLayout fxLayoutAlign="start" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a mat-button routerLink="/home">
                    <mat-icon>account_box</mat-icon>
                    <span>home</span>
                </a>
            </li>
        </ul>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="start">
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <button mat-button [matMenuTriggerFor]="feedMenu">
                    <mat-icon>view_carousel</mat-icon>
                    <span>Feed</span>
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #feedMenu="matMenu">
                    <button mat-menu-item routerLink="/feed/feeds">
                        <mat-icon>view_array</mat-icon>
                        public feeds
                    </button>
                    <button mat-menu-item routerLink="/feed/my-feed" *ngIf="loggedIn">
                        <mat-icon>view_day</mat-icon>
                        my feed
                    </button>
                </mat-menu>
            </li>
            <li>
                <button mat-button [matMenuTriggerFor]="debateMenu">
                    <mat-icon>emoji_events</mat-icon>
                    <span>Debate</span>
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #debateMenu="matMenu">
                    <button mat-menu-item routerLink="/debate/people-debate-list">
                        <mat-icon>groups</mat-icon>
                        people debate
                    </button>
                </mat-menu>
            </li>

        </ul>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items" fxHide.xs>
                        <li>
                <button mat-button [matMenuTriggerFor]="utilMenu">
                    <mat-icon>build_circle</mat-icon>
                    <span>Utils</span>
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #utilMenu="matMenu">
                    <button mat-menu-item routerLink="/tv">
                        <mat-icon>tv</mat-icon><span>TV</span>
                    </button>
                    <button mat-menu-item routerLink="/utils/flowy">
                        <mat-icon>account_tree</mat-icon><span>Flowy</span>
                    </button>
                    <button mat-menu-item routerLink="/utils/qr-gen">
                        <mat-icon>qr_code_2</mat-icon><span>QR-Code</span>
                    </button>        
                    <button mat-menu-item routerLink="/utils/my-file-explorer">
                        <mat-icon>folder</mat-icon><span>File Explorer</span>
                    </button>        
                    <button mat-menu-item routerLink="/utils/editor">
                        <mat-icon>web_asset</mat-icon><span>Editor</span>
                    </button>      
                    <button mat-menu-item [matMenuTriggerFor]="dynamicForms">
                        Dynamic forms
                     </button>  
                    <mat-menu #dynamicForms="matMenu">
                        <button mat-menu-item routerLink="/utils/form-builder">
                            <mat-icon>dynamic_form</mat-icon><span>Form Builder</span>
                        </button>  
                        <button mat-menu-item routerLink="/utils/form-viewer">
                            <mat-icon>dynamic_form</mat-icon><span>Form Viewer</span>
                        </button>  
                    </mat-menu>
                    <button mat-menu-item routerLink="/utils/blockly">
                        <mat-icon>all_inbox</mat-icon><span>Blockly</span>
                    </button>
                    <button mat-menu-item routerLink="/shader">
                        <mat-icon>format_paint</mat-icon><span>Shader</span>
                    </button>    
                    <button mat-menu-item routerLink="/utils/term">
                        <mat-icon>computer</mat-icon><span>Terminal</span>
                    </button>
                </mat-menu>
            </li>
        </ul>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <!-- <li>
                <a mat-button routerLink="/register" *ngIf="!loggedIn">
                    <mat-icon>how_to_reg</mat-icon>
                    <span>Register</span>
                </a>
            </li> -->
            <li>
                <button mat-button [matMenuTriggerFor]="loginMenu" *ngIf="!loggedIn">
                    Logins
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #loginMenu="matMenu">
                    <button mat-menu-item (click)="signInWithGoogle()" >
                        <span class="fa fa-google">: Google</span>
                    </button>
                    <button mat-menu-item (click)="signInWithFB()">
                        <span class="fa fa-facebook">: Facebook</span>
                    </button>
                    <button mat-menu-item (click)="signInWithAmazon()">
                        <span class="fa fa-amazon">: Amazon</span>
                    </button>
                </mat-menu>
            </li>
            
            <li>
                <button mat-button [matMenuTriggerFor]="userMenu" *ngIf="loggedIn">
                    <mat-icon>settings</mat-icon>
                    <span>Settings</span>
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #userMenu="matMenu">
                    <button mat-menu-item (click)="signOut()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Logout</span>
                    </button>
                </mat-menu>
            </li>
            <li>
                <!-- Search button (initiates search) -->
                <a mat-button (click)="openDialog()">
                    <mat-icon>search</mat-icon>
                </a>
            </li>
        </ul>
    </div>
    <div fxFlex fxLayout fxHide.gt-xs fxLayoutAlign="end">
        <a mat-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
            <span>menu</span>
        </a>
    </div>
  </mat-toolbar>