mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
mat-sidenav {
    width: 250px;
}
main {
    padding: 10px;
}

input.tree-selector {
    width: 100%;
    border: 0;
    background-color: #999999;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 0 5px 0;
    padding: 0.4em;
    font-size: inherit;
}