<p>draw things</p>

<div id="svgContainer" style="margin: 50px 50px;">
    <svg #svg1 width="0" height="0" >
        <path #path1 d="M0 0" stroke="#000" fill="none" stroke-width="12px"/>
        <path #path2 d="M0 0" stroke="#000" fill="none" stroke-width="12px"/>
        <path #path3 d="M0 0" stroke-width="8px" style="stroke:#000; fill:none;"/>
        <path #path4 d="M0 0" stroke-width="12px" style="stroke:#000; fill:none;  stroke-width: 12px;"/>
        <path #path5 d="M0 0" stroke-width="10px" style="stroke:#000; fill:none;"/>
        <path #path6 d="M0 0" stroke-width="10px" style="stroke:#000; fill:none;"/>
    </svg>
</div>

<div id= "outer">
  <div id="teal" #teal></div>
  <div id="red" #red></div>
  <div id="green" #green></div>
  <div id="purple" #purple></div>
  <div id="orange" #orange></div>
  <div id="aqua" #aqua></div>
</div>