<h2>LETSPQ.COM Privacy Policy</h2>
<p>Effective Date: Jan. 13, 2021</p>

<p>
This policy explains what information we collect when you use Letspq.com, api, services, mobile applications, products, and content("Services"). It allowfullscreenhas information about how we store, use, transfer, and delete that information. Our aim is not just to comply with privacy law. It's to earn your trust.
</p>

<p>
    information We Collect& How We Use it
    LETSPQ.COM doesn't make money from ads. So we don't collect data in order to advertise to you. The tracking we do at LETSPQ is to make our product work as well as possible.
</p>

<p>
    In order to give you the best possible experience using LETSPQ.COM, we collect information from your interactions with our network. Some of this information, you actively tell us (such as your email address, which we use to track your account or communicate with you). Other information, we collect based on actions you take while using LETSPQ.COM, such as what pages you access and your interaction with our product features(like post your idea, share video links, image links, text you provided, like, dislike). This information includes records of those interactions, your Internet Protocol address, information about your device(such as device or borwer type), and referral information.
</p>
<p>
    We currently do not create user credential because we believe that it's redundent work for our users. Instead, we use Google, Facebook, or Amazon's OAuth services to verify who you are when using LETSPQ.COM. 
</p>
<p>
    When a user decides to use the user's Google account to access LETSPQ.COM, our website sends a request for the target OAuth provider such as Google, Facebook, or Amazon.
</p>
<p>
    When OAuth request is successful, we collect user's first and last name, email address from those OAuth and user's thumbnail image if possible.
</p>
<p>
    With user's first and last name, email address, and thumbnail image, LETSPQ.COM provide personalized service to the user.
</p>
<p>
    We use this information to:</p>
    <ul>
        <li>
            provide, test, improve, promote and personalize LETSPQ.COM Services
        </li>
        <li>
            fight spam and other forms of abuse
        </li>
        <li>
            generate aggregate, non-identifying information about how people use LETSPQ.COM Services
        </li>
    </ul>
