.container {
  background-color: dimgrey;
}
.showCandidateDetail {
  flex-direction: column;
  background-color: #3f51b5;
  width: 83vw;
  z-index: 1;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .photo {
    height: 260px;
    background-position: center;
    background-repeat: repeat-x;
    background-size: contain;
    position: relative;
  }
   
  .my-ul{
    /* FDI(for detail information): https://app.gitbook.com/@oh-csharp/s/fyi/about-flex-layout */
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: flex-start;
    margin:auto;
    list-style: none;
  }
  .my-li{
    padding: 5px;
    width: 64px;
    margin-top: 10px;
  }
  ul {
    padding: 0px;
  }
  .my-candidate-ul{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    /* justify-content: space-around; */
    align-content: flex-start;
    align-items: stretch;
    margin:auto;
    list-style: none;
  }
  .my-candidate-li{
    padding: 5px;
    width: 46%;
    margin-top: 10px;
  }
  
  .my-candidate-ul-click{
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  .my-candidate-li-click{
    width: 90%;
  }
  .card-image{
    margin: 0px;
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .photo {
    height: 260px;
    background-position: center;
    background-repeat: repeat-x;
    background-size: contain;
    position: relative;
  }
   
  .my-ul{
    /* FDI(for detail information): https://app.gitbook.com/@oh-csharp/s/fyi/about-flex-layout */
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: flex-start;
    margin:auto;
    list-style: none;
  }
  .my-li{
    padding: 5px;
    width: 64px;
    margin-top: 10px;
  }
  ul {
    padding: 0px;
  }
  .my-candidate-ul{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    /* justify-content: space-around; */
    align-content: flex-start;
    align-items: stretch;
    margin:auto;
    list-style: none;
  }
  .my-candidate-li{
    padding: 5px;
    width: 270px;
    margin-top: 10px;
  }
  
  .my-candidate-ul-click{
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  .my-candidate-li-click{
    width: 1111px;
  }
  .card-image{
    margin: 0px;
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .photo {
    height: 250px;
    background-position: center;
    background-repeat: repeat-x;
    background-size: contain;
    position: relative;
  }
  
  .card-image{
    margin: 0px;
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  }
  
  .my-ul{
    /* FDI(for detail information): https://app.gitbook.com/@oh-csharp/s/fyi/about-flex-layout */
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: flex-start;
    margin:auto;
    list-style: none;
  }
  .my-li{
    padding: 5px;
    width: 64px;
    margin-top: 10px;
  }
  .my-candidate-ul{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    /* justify-content: space-around; */
    align-content: flex-start;
    align-items: stretch;
    margin:auto;
    list-style: none;
  }
  .my-candidate-li{
    padding: 5px;
    width: 240px;
    margin-top: 10px;
  }
  
  .my-candidate-ul-click{
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  .my-candidate-li-click{
    width: auto;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .photo {
    height: 250px;
    background-position: center;
    background-repeat: repeat-x;
    background-size: contain;
    position: relative;
  }
  
  .card-image{
    margin: 0px;
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  }
  
  .my-ul{
    /* FDI(for detail information): https://app.gitbook.com/@oh-csharp/s/fyi/about-flex-layout */
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: flex-start;
    margin:auto;
    list-style: none;
  }
  .my-li{
    padding: 5px;
    width: 64px;
    margin-top: 10px;
  }
  .my-candidate-ul{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    margin:auto;
    list-style: none;
  }
  .my-candidate-li{
    padding: 5px;
    width: 240px;
    margin-top: 10px;
  }
  
  .my-candidate-ul-click{
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  .my-candidate-li-click{
    width: auto;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .photo {
    height: 250px;
    background-position: center;
    background-repeat: repeat-x;
    background-size: contain;
    position: relative;
  }
  
  .card-image{
    margin: 0px;
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  }
  
  .my-ul{
    /* FDI(for detail information): https://app.gitbook.com/@oh-csharp/s/fyi/about-flex-layout */
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: flex-start;
    margin:auto;
    list-style: none;
  }
  .my-li{
    padding: 5px;
    width: 64px;
    margin-top: 10px;
  }
  .my-candidate-ul{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    margin:auto;
    list-style: none;
  }
  .my-candidate-li{
    padding: 5px;
    width: 240px;
    margin-top: 10px;
  }
  
  .my-candidate-ul-click{
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  .my-candidate-li-click{
    width: auto;
  }
}
