
<div class="box">
    <div>
                <div id="blocklist">
                    <div class="blockelem create-flowy noselect"><input type="hidden" name="blockelemtype" class="blockelemtype" value="1">
                        <div class="grabme">
                            <mat-icon>drag_indicator</mat-icon>
                        </div>
                        <div class="blockin">
                            <div class="blockico"><span></span><mat-icon>remove_red_eye</mat-icon></div>
                            <div class="blocktext">
                                <p class="blocktitle">New visitor</p>
                                <p class="blockdesc">Triggers when somebody visits a specified page</p>
                            </div>
                        </div>
                    </div>
                
                    <div class="blockelem create-flowy noselect"><input type="hidden" name="blockelemtype" class="blockelemtype" value="2">
                        <div class="grabme"><mat-icon>drag_indicator</mat-icon></div>
                        <div class="blockin">
                            <div class="blockico"><span></span><mat-icon>directions_run</mat-icon></div>
                            <div class="blocktext">
                                <p class="blocktitle">Action is performed</p>
                                <p class="blockdesc">Triggers when somebody performs a specified action</p>
                            </div>
                        </div>
                    </div>
                
                    <div class="blockelem create-flowy noselect"><input type="hidden" name="blockelemtype" class="blockelemtype" value="3">
                        <div class="grabme"><mat-icon>drag_indicator</mat-icon></div>
                        <div class="blockin">
                            <div class="blockico"><span></span><mat-icon>more_time</mat-icon></div>
                            <div class="blocktext">
                                <p class="blocktitle">Time has passed</p>
                                <p class="blockdesc">Triggers after a specified amount of time</p>
                            </div>
                        </div>
                    </div>
                
                    <div class="blockelem create-flowy noselect"><input type="hidden" name="blockelemtype" class="blockelemtype" value="4">
                        <div class="grabme"><mat-icon>drag_indicator</mat-icon></div>
                        <div class="blockin">
                            <div class="blockico"><span></span><mat-icon>error_outline</mat-icon></div>
                            <div class="blocktext">
                                <p class="blocktitle">Error prompt</p>
                                <p class="blockdesc">Triggers when a specified error happens</p>
                            </div>
                        </div>
                    </div>
    </div>
                <mat-card class="myfeed-card blockelem create-flowy noselect">
                    <mat-card-header>
                      <mat-card-title>
                          <h4>test</h4>
                      </mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-imgage src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        test
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-button>LIKE</a>
                        <a mat-button>SHARE</a>
                    </mat-card-actions>
                  </mat-card>
    </div>
    <div id="canvas" class="canvas"></div>
</div>