<mat-card style="height: calc(100% - 96px);">
    <mat-card-header>
        <mat-card-title>
            <h4>{{viewData.name}}</h4>
        </mat-card-title>
        <mat-card-subtitle><h5>{{viewData.description}}</h5></mat-card-subtitle>
    </mat-card-header>
<div >
    <mat-formio [form]="form" (submit)="onSubmit($event)"></mat-formio>
</div>
</mat-card>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="form" cdkFocusInitial>Ok</button>
</div>
