<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<div fxLayout="row" fxLayoutAlign="center stretch" >
    <mat-card style="height: calc(100% - 296px);">
        <mat-card-header>
            <mat-card-title>
                <h4>{{formDefinition.name}}</h4>
            </mat-card-title>
            <mat-card-subtitle><h5>{{formDefinition.description}}</h5></mat-card-subtitle>
        </mat-card-header>
    <div>
        <dynamicFormAnchor (submit)="submit($event)"></dynamicFormAnchor>
    </div>
    </mat-card>
</div>
