<div class="container">
    <div>
        <mat-card class="itemtitle">드라마</mat-card>
        <table mat-table [dataSource]="dramaDataSource" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.index}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="channel">
            <th mat-header-cell *matHeaderCellDef> Channel </th>
            <td mat-cell *matCellDef="let element"> {{element.channel}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="link">
            <th mat-header-cell *matHeaderCellDef> Link </th>
            <td mat-cell *matCellDef="let element">
                <a mat-button href="{{element.link}}" target="_blank">{{element.linktitle}}</a>
            </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="entertainmentDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: entertainmentDisplayedColumns;"></tr>
        </table>
    </div>
    <div>
        <mat-card class="itemtitle">오락</mat-card>
        <table mat-table [dataSource]="entertainmentDataSource" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.index}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="channel">
            <th mat-header-cell *matHeaderCellDef> Channel </th>
            <td mat-cell *matCellDef="let element"> {{element.channel}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="link">
            <th mat-header-cell *matHeaderCellDef> Link </th>
            <td mat-cell *matCellDef="let element">
                <a mat-button href="{{element.link}}" target="_blank">{{element.linktitle}}</a>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="entertainmentDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: entertainmentDisplayedColumns;"></tr>
        </table>
    </div>
    <div>
        <mat-card class="itemtitle">시사/다큐</mat-card>
        <table mat-table [dataSource]="documentaryDataSource" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.index}} </td>
            </ng-container>
            
            <!-- Name Column -->
            <ng-container matColumnDef="channel">
                <th mat-header-cell *matHeaderCellDef> Channel </th>
                <td mat-cell *matCellDef="let element"> {{element.channel}} </td>
            </ng-container>
            
            <!-- Weight Column -->
            <ng-container matColumnDef="link">
                <th mat-header-cell *matHeaderCellDef> Link </th>
                <td mat-cell *matCellDef="let element">
                    <a mat-button href="{{element.link}}" target="_blank">{{element.linktitle}}</a>
                </td>
            </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="documentaryDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: documentaryDisplayedColumns;"></tr>
        </table>
    </div>
    <div>
        <mat-card class="itemtitle">뉴스</mat-card>
        <table mat-table [dataSource]="newsDataSource" class="mat-elevation-z8">
            <!-- Position Column -->
            <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.index}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="channel">
            <th mat-header-cell *matHeaderCellDef> Channel </th>
            <td mat-cell *matCellDef="let element"> {{element.channel}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="link">
            <th mat-header-cell *matHeaderCellDef> Link </th>
            <td mat-cell *matCellDef="let element">
                <a mat-button href="{{element.link}}" target="_blank">{{element.linktitle}}</a>
            </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="newsDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: newsDisplayedColumns;"></tr>
        </table>
    </div>
</div>
    